
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

header{
    height: 60px;
    background-color:white;
    margin-bottom: 50px;
}

.titolo{
    display: inline;
    
}
 main{
     width: 1200px;
     background-color: white;
     margin: auto;
 }

 .top-header{
     display:block ;
     padding: 10px;
    border-bottom: 2px solid gray;

 }

 .button-1{
    
    font-size: 15px;
    /* line-height: 2; */
    background-color: lightblue;
    border-radius: 10%;
    color: white;
    padding: 10px;
     
 }
 .button-2{
    
    font-size: 15px;
    padding: 10px;
    border-radius: 10%;
    opacity: 0.6;
    cursor: not-allowed;
    background-color: white;
    color: black;
    border: 2px solid gray;
     
 }

 .list ul{
     display: block;
     padding: 0 0 0 2%;
     
 }

 .list{
     margin: 20px;
     display: block;
 }
 
 
 .editional{
     display: inline;
     background-color: blue;
     border-radius: 20% ;
     padding: 4px;
     
 }
 .q1goals{
     display: inline;
     background-color: rgb(197, 12, 197);
     border-radius: 20% ;
     padding: 4px;
     
 }
 .recruting{
     display: inline;
     background-color: lightgreen;
     border-radius: 20% ;
     padding: 4px;
     
 }
 .mobile{
     display: inline;
     background-color: orange;
     border-radius: 20% ;
     padding: 4px;
     
 }
 .web{
     display: inline;
     background-color: greenyellow;
     border-radius: 20% ;
     padding: 4px;
     
 }
 .sales{
     display: inline;
     background-color: lightpink;
     border-radius: 20% ;
     padding: 4px;
     
 }


 
 li{
     padding: 10px;
     font-size: 22px;
     list-style-type: '✅';
  padding-inline-start: 1ch;
  }

     
  

     

 
     
 
